/* Fonte Julios Sans One */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/* Fonte Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header, body, footer, div, section {
  display: flex;
  flex-direction: column;
}

.linha {
  flex-direction: row;
}

.coluna {
  flex-direction: column;
}

/* .link-flex {
  display: flex;
  align-items: center;
} */

.link {
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  cursor: pointer;
}

p, label, h1 {
  font-family: 'Inter', sans-serif;
  /*inserir aqui a fonte que será utilizada como padrão*/
  /* font-family: 'DAYROM';  */

  /*inserir aqui a cor padrão das fontes*/
  /* color: #ffffff; */
}

.texto-centro {
  text-align: center;
}

.alinha-centro {
  justify-content: center;
  align-items: center;
}

.espaco-entre {
  justify-content: space-between;
}

/* 
.invisible {
  display: none;
  position: absolute;
} */

.negrito {
  font-weight: bold;
}

.sublinhado {
  text-decoration: underline;
}

.space-5 {
  margin-bottom: 5px;
}

.space-10 {
  margin-bottom: 10px;
}

.space-20 {
  margin-bottom: 20px;
}

.space-40 {
  margin-bottom: 40px;
}

.space-60 {
  margin-bottom: 60px;
}

.space-80 {
  margin-bottom: 80px;
}

.space-100 {
  margin-bottom: 100px;
}


.background-imagem {
  background-image: url("../src/img/fundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.principal {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* Fonte Julio Sans One */
.jso {
  font-family: 'Julius Sans One', sans-serif;
}

.botao-form-cadastrar{
  border-radius: 20px;
  background-color: #D9D9D9;
  background-color: rgba(217, 217, 217, 0.19);;
  border: 1px dashed #D37015;
  color: #FFFFFF;
}

.input-form-cadastrar{
  height: 10%;
  width: 88%;
  border-radius: 25px;
  margin-left: 10px;
  border: solid 1px #000000;
  background-color: #D9D9D9;
  padding-left: 15px;
}

.label-form-cadastrar{
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

.laranja {
  color: #D37015;
}

.roxo {
  color: #9500CA;
}

.background-cor-padrao {
  background-color: #2C2525
}

.margem-direita{
  margin-right: 10px;
}

.menu-botao-principal{
  height: 23.2%;
  width: 30%;
  border-radius: 20px;
  background-color: #9500CA;
  color: white;
  cursor: pointer;
  /* margin-bottom: 3%; */
}

.menu-box-sahedow{
  box-shadow:  16px 14px rgba(185, 27, 242, 0.4);
}

