.menu-background-imagem {
  background-image: url("../../img/tela-menu.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 0%;
  width: 100vw;
  height: 100vh;
}

.menu-cabeçalho{
  /* width: 90vw; */
  height: 20vh;
  position: flex;
}

.menu-cabeçalho-esquerdo{
  width: 30vw;
  border-bottom: dashed 3px #FFA800;
  margin-left: 2.8%;
}

.menu-cabeçalho-direito{
  width: 30vw;
  border-bottom: dashed 3px #FFA800;
  margin-right: 2.8%;
}

.menu-botoes{
  width: 40vw;
  margin-top: 120px;
}

.menu-botao-painel{
  height: 125px;
  width: 130px;
  border-radius: 50%;
  border: 1px solid #9500CA;
  background-color: #2B2927;
  color: white;
  cursor: pointer;
}

.menu-bem-vindo{
  width: 100vw;
  height: 10vh;
  position: flex;
}

.menu-bem-vindo h1{
  margin-left: 9%;
  color: white;
  font-size: 22px;
}

.menu-mais-acessados {
  color: white;
  /* align-content:flex-end; */
  position: relative;
  align-items: center;
  text-align: center;
  padding-left: 5%;
}

.menu-mais-acessados h1{
  margin-left: 1%;
  font-size: 18px;
}

.menu-botoes-principais{
  width: 100vw;
  height: 200px;
}

.menu-botao-principal-1{
  margin-left: 0%;
}

.menu-botao-principal-2{
  margin-left: 15%;
  box-shadow: 30px 15px rgba(149, 0, 202, 0.24);
}

.menu-botao-principal-3{
  margin-left: 30%;
  box-shadow: 40px 15px rgba(149, 0, 202, 0.1);
}

/* .ReactModal__Content--after-open {
  padding: 0 !important;
} */
