#header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: blue;
}

.header-section {
  height: 90vh;
  width: 80%;
  background-image: url('../../img/fundo-menu.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.header-botoes-menu {
  width: 40%;
  margin: 0 auto;
  padding-top: 3.8%;
}

.header-lista {
  display: flex;
  flex-direction: row;
  margin-left: -15%;
}

.header-botao-menu:nth-child(even) {
  margin: 0 10px;
}

.header-botao-menu {
  width: 25%;
  height: 90px;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background: #222;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header-span {
  -webkit-transform: skew(30deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
}