.menu-background-imagem {
  background-image: url("../../img/tela-menu.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

.menu-cabeçalho{
  width: 100vw;
  height: 20vh;
  position: absolute;
  top: 0;
  
  
}

.menu-cabeçalho-esquerdo{
  width: 35vw;
  border-bottom: dashed 3px #FFA800;
  margin-left: 35px;
}

.menu-cabeçalho-direito{
  width: 35vw;
  border-bottom: dashed 3px #FFA800;
  margin-right: 30px;
}

.menu-botoes{
  width: 30vw;
  margin-top: 130px;
}

.menu-botao-painel{
  height: 125px;
  width: 130px;
  border-radius: 50%;
  border: 1px solid #9500CA;
  background-color: #2B2927;
  color: white;
  cursor: pointer;
}

.menu-bem-vindo{
  width: 100vw;
  height: 10vh;
  margin-top: 100px;
  
}

.menu-bem-vindo h1{
  margin-left: 220px;
  color: white;
  font-size: 22px;
}

.menu-mais-acessados {
  color: white;
  position: relative;
  right: 480px;
}

.menu-mais-acessados h1{
  margin-top: 14px;
  margin-left: 20px;
  font-size: 18px;
}

.menu-botoes-principais{
  width: 100vw;
  height: 200px;
}

.menu-botao-principal-1{
  margin-left: 300px;
}

.menu-botao-principal-2{
  margin-left: 400px;
  box-shadow: 30px 15px rgba(149, 0, 202, 0.24);
}

.menu-botao-principal-3{
  margin-left: 500px;
  box-shadow: 40px 15px rgba(149, 0, 202, 0.1);
}



/* .ReactModal__Content--after-open {
  padding: 0 !important;
} */
