.login-background-imagem {
  background-image: url("../../img/fundo.jpg");
  background-size: contain;
  /* background-repeat: no-repeat; */
  /* height: 100vh;*/
  /* width: auto;  */
}

.principal-bem-vindo {
  margin-right: 200px;
  font-size: 25px;
  color: #FFFFFF;
}

.login-formulario {
  width: 300px;
  padding: 40px 20px 30px 20px;
  border-radius: 20px;
}

.login-campo {
  /* height: 50%; */
  justify-content: space-around;
}

.login-label {
  color: #FFFFFF;
  font-size: 20px;
}

.login-texto1 {
  border-bottom: dashed 4px #D37015;
  width: 90px;
  padding-bottom: 10px;
}

.login-input {
  border-radius: 25px;
  width: auto;
  height: 35px;
  border: 1px dashed #FFFFFF;
  color: #FFFFFF;
}

.login-input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.login-texto2 {
  border-bottom: dashed 5px #400C58;
  width: 90px;
  padding-bottom: 10px;
}

.login-esqueceu-senha {
  align-self: end;
}

.login-submit {
  width: 110px;
  height: 35px;
  color: #000000;
  border-radius: 25px;
  align-self: flex-end;
  font-size: 20px;
}

.login-rodape {
  color: #FFFFFF;
  position: absolute;
  bottom: 25px;
  opacity: 18%;
  text-align: center;
  width: 100%;
}